numpy >= 1.17.3
moviepy == 1.0.3
absl-py == 2.1.0
demucs == 4.0.1
torch == 2.3.1
pyannote.audio == 3.3.0
pydub == 0.25.1
faster-whisper == 1.0.2
google-generativeai == 0.6.0
google-cloud-texttospeech == 2.16.3
tensorflow == 2.16.1
pytorch-lightning == 2.3.0