# After modifying this file, always run:
# pip-compile --generate-hashes requirements.in
google-cloud-logging
google-cloud-storage
google-cloud-pubsub
googleapis-common-protos
cloudevents
Flask
gunicorn
Werkzeug
gtech-ariel
async-timeout
exceptiongroup
tensorflow_io_gcs_filesystem
dill
setuptools
